{% extends "spendtrackapp/base.html" %}

{% block script %}
    {% load static %}
    <script src="{% static "spendtrackapp/js/account.js" %}"></script>
    <script src="{% static "spendtrackapp/js/change_password.js" %}"></script>
{% endblock %}

{% block main %}
    {% csrf_token %}
    <input type="hidden" id="account_id" value="{{ user.id }}">

    <div class="container">
        <!-- Account info -->
        <div class="row box account">
            <h3>My account</h3>
            <table>
                <tbody>
                <tr>
                    <th>Username</th>
                    <td id="td_username">{{ user.username }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td id="td_email">{{ user.email }}</td>
                </tr>
                <tr>
                    <th>First name</th>
                    <td id="td_first_name">{{ user.first_name }}</td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td id="td_last_name">{{ user.last_name }}</td>
                </tr>
                <tr>
                    <th>Date joined</th>
                    <td>{{ user.date_joined }}
                        <input type="hidden" id="account_date_joined" value="{{ user.date_joined }}"></td>
                </tr>
                <tr>
                    <th>Last login</th>
                    <td>{{ user.last_login }}</td>
                </tr>
                </tbody>
            </table>
            <div class="align-right">
                <button id="edit-account-button" class="button-primary">EDIT</button>
                <button id="delete-account-button" class="button-danger">DELETE</button>
                <button id="save-account-button" class="button-primary">SAVE</button>
                <button id="cancel-edit-account-button">CANCEL</button>
            </div>
        </div>

        <!-- Change password -->
        <div class="box password-change">
            <h5>Change password</h5>
            <div class="row" id="password-change-success">

            </div>
            <div class="row">
                <div class="three columns">
                    <label for="old_password">Current password</label>
                </div>
                <div class="eight columns">
                    <input type="password" id="old_password">
                    <span class="input-error" id="old_password_error"></span>
                </div>
            </div>
            <div class="row">
                <div class="three columns">
                    <label for="new_password1">New password</label>
                </div>
                <div class="eight columns">
                    <input type="password" id="new_password1">
                    <span class="input-error" id="new_password1_error"></span>
                    <p>Your password can't be too similar to your other personal information.</p>
                    <p>Your password must contain at least 8 characters.</p>
                    <p>Your password can't be a commonly used password.</p>
                    <p>Your password can't be entirely numeric.</p>
                </div>
            </div>
            <div class="row">
                <div class="three columns">
                    <label for="new_password2">Confirm new password</label>
                </div>
                <div class="eight columns">
                    <input type="password" id="new_password2">
                    <span class="input-error" id="new_password2_error"></span>
                </div>
            </div>
            <div class="align-right">
                <button id="change-password-button" class="button-primary">Change my password</button>
            </div>
        </div>
    </div>

{% endblock %}
