{% extends "spendtrackapp/base.html" %}

{% block main %}
    <br>
    <div class="container">
        <div class="row">
            <div class="four columns">&nbsp;</div>
            <div class="four columns">
                <div class="login-notice">
                    {% if errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page.
                                To proceed, please login with an account that has access.</p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}
                </div>
                <form method="post" action="{% url 'account:login' %}" class="login-form">
                    {% csrf_token %}

                    <div>
                        <label for="username">Username:</label>
                        <input type="text" name="username" autofocus required id="username">
                    </div>
                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" required id="password">
                    </div>
                    <br>
                    <div>
                        <input type="submit" class="button-primary" value="Login"/>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </form>

                {# Assumes you setup the password_reset view in your URLconf #}
                <p class="align-right"><a href="{% url 'account:password_reset' %}">Lost password?</a></p>
            </div>
            <div class="four columns">&nbsp;</div>
        </div>
    </div>

{% endblock %}
