{% extends "spendtrackapp/base_app.html" %}

{% block script %}
    {% load static %}
    {% if debug %}
        <link rel="stylesheet" href="{% static "spendtrackapp/css/progress_bar.css" %}">
        <script src="{% static "spendtrackapp/js/category.js" %}"></script>
        <script src="{% static "spendtrackapp/js/plan.js" %}"></script>
        <script src="{% static "spendtrackapp/js/progress_bar.js" %}"></script>
    {% else %}
        <link rel="stylesheet" href="{% static "spendtrackapp/css/progress_bar.min.css" %}">
        <script src="{% static "spendtrackapp/js/category.min.js" %}"></script>
        <script src="{% static "spendtrackapp/js/plan.min.js" %}"></script>
        <script src="{% static "spendtrackapp/js/progress_bar.min.js" %}"></script>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="container">

        <!-- current plans -->
        <div id="plan-list">
            {% csrf_token %}
            {% for plan in current_plans %}
                <div id="plan-row-{{ plan.id }}" class="plan">
                    <div>
                        <span class="plan-name">{{ plan.name }}</span>
                        <span class="align-right plan-edit-icon">
                            <img src="{% static "spendtrackapp/img/edit-icon.png" %}" alt="edit"
                                 onclick="editPlan({{ plan.id }})">
                        </span>
                    </div>
                    <div class="row">
                        <div class="five columns">
                            <table>
                                <tbody>
                                <tr>
                                    <td>From</td>
                                    <td>{{ plan.start_date_iso }}</td>
                                </tr>
                                <tr>
                                    <td>To</td>
                                    <td>{{ plan.end_date_iso }}</td>
                                </tr>
                                <tr>
                                    <td>Target</td>
                                    <td>{{ plan.target }}</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>{{ plan.total }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="seven columns test">
                            <input type="hidden" id="plan-data-{{ plan.id }}-id"
                                   value="{{ plan.id }}">
                            <input type="hidden" id="plan-data-{{ plan.id }}-name"
                                   value="{{ plan.name }}">
                            <input type="hidden" id="plan-data-{{ plan.id }}-category"
                                   value="{% if plan.category_id %}{{ plan.category_id }}{% endif %}">
                            <input type="hidden" id="plan-data-{{ plan.id }}-category-name"
                                   value="

                                           {% if plan.category_id %}{{ plan.category.name }}{% else %}All categories{% endif %}">
                            <input type="hidden" id="plan-data-{{ plan.id }}-start-date"
                                   value="{{ plan.start_date_iso }}">
                            <input type="hidden" id="plan-data-{{ plan.id }}-end-date"
                                   value="{{ plan.end_date_iso }}">
                            <input type="hidden" id="plan-data-{{ plan.id }}-total"
                                   value="{{ plan.total }}">
                            <input type="hidden" id="plan-data-{{ plan.id }}-planned-total"
                                   value="{{ plan.planned_total }}">
                            <input type="hidden" id="plan-data-{{ plan.id }}-compare"
                                   value="{{ plan.compare }}">

                            <div class="progress-bar-group">
                                <div id="time-progress-{{ plan.id }}"></div>
                                <div id="plan-progress-{{ plan.id }}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="row box">
                    <div class="no-data twelve columns">No plan is set!</div>
                </div>
            {% endfor %}

            <script>
                createAllProgressBars({{ current_plans | length }});
            </script>
        </div>

        <!-- success panel -->
        <div id="plan-add-success-panel" class="success-panel" style="display: none"></div>

        <!-- new plan -->
        <div class="box" id="new-plan">
            {% csrf_token %}

            <div class="row">
                <!-- Name -->
                <div class="twelve columns">
                    <label for="plan-name">Plan name</label>
                    <input type="text" id="plan-name" placeholder="No more than $1 on carrots!" maxlength="50">
                    <div id="plan-name-error" class="input-error"></div>
                </div>
            </div>

            <div class="row">
                <!-- Start date -->
                <div class="six columns">
                    <label for="plan-start-date">Start date</label>
                    <input type="date" id="plan-start-date" placeholder="yyyy-mm-dd"
                           autocomplete="off">
                    <div class="button" onclick="setDateNow('#plan-start-date')">Now</div>
                    <div id="plan-start-date-error" class="input-error"></div>
                </div>

                <!-- End date -->
                <div class="six columns">
                    <label for="plan-end-date">End date</label>
                    <input type="date" id="plan-end-date" placeholder="yyyy-mm-dd"
                           autocomplete="off">
                    <div id="plan-end-date-error" class="input-error"></div>
                </div>
            </div>

            <div class="row">
                <!-- Category -->
                <div class="three columns">
                    <label for="category">Category</label>
                    <div id="category-dropdown-container"></div>
                    <script>
                        // name of the hidden input to store category id
                        const planCatFieldId = 'plan-category';
                        // insert drop down button to the above div
                        $('#category-dropdown-container').html(Category.toDropdownMenu(planCatFieldId, true, true));
                        // set category value to null
                        Category.clearSelectCategoryField(planCatFieldId);
                    </script>
                    <div id="plan-category-error" class="input-error"></div>
                </div>

                <!-- Compare -->
                <div class="three columns">
                    <label for="plan-compare">Compare</label>
                    <select id="plan-compare">
                        <option value="<">less than</option>
                        <option value=">">greater than</option>
                        <option value="=">equal to</option>
                    </select>
                    <div id="plan-compare-error" class="input-error"></div>
                </div>

                <!-- Plan total -->
                <div class="six columns">
                    <label for="plan-planned-total">Planned total</label>
                    <input type="text" id="plan-planned-total" placeholder="1.25 + 2.3 * 5"
                           pattern="^[0-9 \+\-\*\/\(\)\.]+$">
                    <div id="plan-planned-total-error" class="input-error"></div>
                </div>
            </div>

            <!-- Submit and clear -->
            <div class="row submit-row align-left">
                <div class="button button-primary" id="submit-plan-button">ADD</div>
                <div class="button" onclick="clearNewPlanFields()">CLEAR</div>
            </div>
        </div>

    </div>

{% endblock %}
