{% extends "spendtrackapp/base.html" %}

{% block script %}
    {% load static %}
    <script src="{% static "spendtrackapp/js/search_by_year_month_week_daterange.js" %}"></script>
    <script src="{% static "spendtrackapp/js/category_drop_down.js" %}"></script>
    <script src="{% static "spendtrackapp/js/plan_index.js" %}"></script>
{% endblock %}

{% block main %}
    <div class="container">

        <!-- current plans -->
        <div class="box" id="current-plans">
            {% for plan in current_plans %}
                <div class="row plan">
                    <div class="four columns">
                        <div class="plan-name">{{ plan.name }}</div>
                        <div class="plan-date">From: {{ plan.start_date }}</div>
                        <div class="plan-date">To: {{ plan.end_date }}</div>
                        <div class="plan-target">{{ plan.target }}</div>
                        <div class="plan-total">Total: {{ plan.total }}</div>
                    </div>
                    <div class="eight columns">
                        <div class="progress-bar-background">
                            <div class="progress-bar" id="progress-bar-{{ forloop.counter }}"></div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="row">
                    <div class="no-data twelve columns">No plan is set!</div>
                </div>
            {% endfor %}
        </div>

        <!-- success panel -->
        <div id="plan-add-success-panel" class="success-panel" style="display: none"></div>

        <!-- new plan -->
        <form class="box" id="new-plan">
            {% csrf_token %}

            <div class="row">
                <!-- Name -->
                <div class="twelve columns">
                    <label for="plan-name">Plan name</label>
                    <input type="text" id="plan-name" placeholder="No more than $1 on carrots!" maxlength="50">
                    <div id="plan-name-error" class="input-error"></div>
                </div>
            </div>

            <div class="row">
                <!-- Start date -->
                <div class="six columns">
                    <label for="plan-start-date">Start date</label>
                    <input type="date" id="plan-start-date" placeholder="yyyy-mm-dd"
                           autocomplete="off">
                    <div class="button" onclick="setNewPlanStartDateToday()">Now</div>
                    <div id="plan-start-date-error" class="input-error"></div>
                </div>

                <!-- End date -->
                <div class="six columns">
                    <label for="plan-end-date">End date</label>
                    <input type="date" id="plan-end-date" placeholder="yyyy-mm-dd"
                           autocomplete="off">
                    <div id="plan-end-date-error" class="input-error"></div>
                </div>
            </div>

            <div class="row">
                <!-- Category -->
                <div class="three columns">
                    <label for="category">Category</label>
                    <input type="hidden" id="category" value="empty" autocomplete="off">
                    <div class="select">
                        <div onclick="showDropDown()" class="select-btn clickable">
                            <span id="category-display" class="clickable">Select a category</span>
                            <span class="clickable" style="float: right">&#x25BC</span>
                        </div>
                        <div id="select-category" class="select-content">
                            {{ category_hierarchy | safe }}
                        </div>
                    </div>
                    <div id="plan-category-error" class="input-error"></div>
                </div>

                <!-- Compare -->
                <div class="three columns">
                    <label for="plan-compare">Compare</label>
                    <select id="plan-compare">
                        <option value="<">less than</option>
                        <option value=">">greater than</option>
                        <option value="=">equal to</option>
                    </select>
                    <div id="plan-compare-error" class="input-error"></div>
                </div>

                <!-- Plan total -->
                <div class="six columns">
                    <label for="plan-planned-total">Planned total</label>
                    <input type="text" id="plan-planned-total" placeholder="1.25 + 2.3 * 5"
                           pattern="^[0-9 \+\-\*\/\(\)\.]+$">
                    <div id="plan-planned-total-error" class="input-error"></div>
                </div>
            </div>

            <!-- Submit and clear -->
            <div class="row submit-row align-left">
                <div class="button button-primary" onclick="submitNewPlanForm()">ADD</div>
                <div class="button" onclick="clearNewPlanFields()">CLEAR</div>
            </div>
        </form>

        <!-- search plan  -->
        <form class="box">
            {% csrf_token %}

            <!-- Type to search -->
            <div class="row">
                <div class="four columns">
                    <label for="search-type">Summarize type</label>
                    <select id="search-type" autocomplete="off"
                            onchange="selectSearchType()">
                        <option value="year">Year</option>
                        <option value="month">Month</option>
                        <option value="week">Week</option>
                        <option value="date_range" selected>Date range</option>
                    </select>
                </div>

                <!-- Search by year -->
                <div id="summarize-year" class="search-group">
                    <div class="four columns">
                        <label for="search-by-year-year">Year</label>
                        <input id="search-by-year-year" type="number" autocomplete="off"
                               min="2000" max="2100" step="1">
                    </div>
                </div>

                <!-- Search by month -->
                <div id="summarize-month" class="search-group">
                    <!-- year -->
                    <div class="four columns">
                        <label for="search-by-month-year">Year</label>
                        <input id="search-by-month-year" type="number" autocomplete="off"
                               min="2000" max="2100" step="1">
                    </div>

                    <!-- month -->
                    <div class="four columns">
                        <label for="search-by-month-month">Month</label>
                        <select id="search-by-month-month" autocomplete="off">
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </div>
                </div>

                <!-- Search by week -->
                <div id="summarize-week" class="search-group">
                    <!-- year -->
                    <div class="four columns">
                        <label for="search-by-week-year">ISO Year</label>
                        <input id="search-by-week-year" type="number" autocomplete="off"
                               min="2000" max="2100" step="1">
                    </div>

                    <!-- week -->
                    <div class="four columns">
                        <label for="search-by-week-week">ISO Week</label>
                        <input id="search-by-week-week" type="number" autocomplete="off"
                               min="1" max="53" step="1">
                    </div>
                </div>

                <!-- Search by daterange -->
                <div id="summarize-date-range" class="search-group">
                    <!-- start date -->
                    <div class="four columns">
                        <label for="search-by-dr-start-date">Start date</label>
                        <input id="search-by-dr-start-date" type="date">
                    </div>

                    <!-- end date -->
                    <div class="four columns">
                        <label for="search-by-dr-end-date">End date</label>
                        <input id="search-by-dr-end-date" name="end-date" type="date">
                        <div class="button" onclick="setSearchEndDateNow()">NOW</div>
                    </div>
                </div>
                <script>
                    selectSearchType();
                    fillDefaultValues();
                </script>
            </div>

            <div class="row">
                <div class="twelve columns input-error" id="search-input-error"></div>
            </div>

            <!-- Submit and clear -->
            <div class="row submit-row">
                <div class="button button-primary" onclick="submitSearchPlanForm('{% url 'plan:find' %}')">SEARCH</div>
                <div class="button" onclick="clearSearchFields()">CLEAR</div>
            </div>
        </form>

        <div class="row box" id="found-plan-container" style="display: none">
        </div>

    </div>

{% endblock %}
