{% extends "spendtrackapp/base_app.html" %}

{% block script %}
    {% load static %}
    {% if debug %}
        <script src="{% static "spendtrackapp/js/change_password.js" %}"></script>
    {% else %}
        <script src="{% static "spendtrackapp/js/change_password.min.js" %}"></script>
    {% endif %}
{% endblock %}

{% block main %}
    <br>
    <div class="container">
        <div class="row">
            <div class="two columns">&nbsp;</div>
            <div class="eight columns">
                <div class="password-change">
                    <h5>Set new password</h5>
                    <div class="row" id="password-change-success"></div>
                    <input type="hidden" id="old_password" value="{{ old_password }}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="three columns">
                            <label for="new_password1">New password</label>
                        </div>
                        <div class="eight columns">
                            <input type="password" id="new_password1">
                            <span class="input-error" id="new_password1_error"></span>
                            <p>Your password can't be too similar to your other personal information.</p>
                            <p>Your password must contain at least 8 characters.</p>
                            <p>Your password can't be a commonly used password.</p>
                            <p>Your password can't be entirely numeric.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="three columns">
                            <label for="new_password2">Confirm new password</label>
                        </div>
                        <div class="eight columns">
                            <input type="password" id="new_password2">
                            <span class="input-error" id="new_password2_error"></span>
                        </div>
                    </div>

                    <div class="align-right">
                        <button id="change-password-button" class="button-primary">Change my password</button>
                        <script>
                            $(document).ready(function () {
                                $('#change-password-button').click(submitChangePasswordForm);
                                $('.input-error').hide();
                                $('#password-change-success').hide();
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="two columns">&nbsp;</div>
        </div>
    </div>
{% endblock %}
