{% extends "spendtrackapp/base.html" %}

{% block script %}
    {% load static %}
    <script src="{% static "spendtrackapp/js/reset_password.js" %}"></script>
{% endblock %}

{% block main %}
    <br>
    <div class="container">
        <div class="row">
            <div class="three columns">&nbsp;</div>
            <div class="six columns">
                <form method="post" action="{% url 'account:password_reset' %}" class="login-form">
                    {% csrf_token %}
                    <div class="login-notice">
                        Enter your email address below, and we'll email instructions for setting a new one.
                    </div>
                    <input name="email" type="email" placeholder="someone@somewhere.com">
                    {% if errors %}
                        <div class="input-error">
                            {% for error in errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <br><br>
                    <input type="submit" class="button-primary" value="Send me an email">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
