{% extends "spendtrackapp/base_app.html" %}

{% block script %}
    {% load static %}
    {% if debug %}
        <script src="{% static "spendtrackapp/js/reset_password.js" %}"></script>
    {% else %}
        <script src="{% static "spendtrackapp/js/reset_password.min.js" %}"></script>
    {% endif %}
{% endblock %}

{% block main %}
    <br>
    <div class="container">
        <div class="row">
            <div class="three columns">&nbsp;</div>
            <div class="six columns">
                <div>
                    <div>
                        We have sent you an email to address
                        <span class="user-email">{{ email }}</span>
                    </div>
                    <div>It might takes a few minutes before the email arrives.</div>
                    <div>Please check your inbox and follow the instructions.</div>
                </div>
                <br>
                <div>
                    <i>Still haven't received?
                        <br>We can resend you an email after
                        <span id="send-email-countdown"></span> second(s)
                    </i>
                </div>
                <br>
                <button id="resend-email-button" class="button-primary">RESEND</button>
                <input type="hidden" id="email" value="{{ email }}">
                {% csrf_token %}
            </div>
        </div>
    </div>
{% endblock %}
