{% extends "spendtrackapp/summarize_base.html" %}

{% block chart_render %}
    <script>
        // bar chart
        Chartist.Bar('#bar-chart', {
            labels: monthNamesAbr,
            series: [
                lastPeriodFirstChartSeries,
                thisPeriodFirstChartSeries
            ]
        }, barChartOptions, barChartResponsiveOptions);

        // filter out non-leaf categories
        let lastYearLeafCategoriesSeries = [];
        let thisYearLeafCategoriesSeries = [];
        for (let i = 0; i < categoriesNames.length; i++) {
            if (isLeaf[i]) {
                lastYearLeafCategoriesSeries.push(lastPeriodPieChartSeries[i]);
                thisYearLeafCategoriesSeries.push(thisPeriodPieChartSeries[i]);
            }
        }

        // last year pie chart
        Chartist.Pie('#last-period-pie-chart', {
            labels: categoriesNames,
            series: lastYearLeafCategoriesSeries
        }, pieChartOptions, pieChartResponsiveOptions);

        // this year pie chart
        Chartist.Pie('#this-period-pie-chart', {
            labels: categoriesNames,
            series: thisYearLeafCategoriesSeries
        }, pieChartOptions, pieChartResponsiveOptions);

    </script>
{% endblock %}