{% extends "spendtrackapp/summarize_base.html" %}

{% block chart_render %}
    <script>
        // bar chart
        Chartist.Bar('#bar-chart', {
            labels: daysInWeekNamesM,
            series: [
                lastPeriodFirstChartSeries,
                thisPeriodFirstChartSeries
            ]
        }, barChartOptions, barChartResponsiveOptions);

        // filter out non-leaf categories
        let lastWeekLeafCategoriesSeries = [];
        let thisWeekLeafCategoriesSeries = [];
        for (let i = 0; i < categoriesNames.length; i++) {
            if (isLeaf[i]) {
                lastWeekLeafCategoriesSeries.push(lastPeriodPieChartSeries[i]);
                thisWeekLeafCategoriesSeries.push(thisPeriodPieChartSeries[i]);
            }
        }

        // last week pie chart
        Chartist.Pie('#last-period-pie-chart', {
            labels: categoriesNames,
            series: lastWeekLeafCategoriesSeries
        }, pieChartOptions, pieChartResponsiveOptions);

        // this week pie chart
        Chartist.Pie('#this-period-pie-chart', {
            labels: categoriesNames,
            series: thisWeekLeafCategoriesSeries
        }, pieChartOptions, pieChartResponsiveOptions);

    </script>
{% endblock %}