{% extends "spendtrackapp/base_summarize.html" %}

{% block chart_render %}
    <script>
        // bar chart
        Chartist.Bar('#bar-chart', {
            labels: Date.monthAbbreviations,
            series: [
                lastPeriodFirstChartSeries,
                thisPeriodFirstChartSeries
            ]
        }, barChartOptions, barChartResponsiveOptions);

        // filter out non-leaf categories
        for (let i = 0; i < categoriesNames.length; i++) {
            if (!isLeaf[i]) {
                lastPeriodPieChartSeries[i] = 0;
                thisPeriodPieChartSeries[i] = 0;
            }
        }

        // last year pie chart
        Chartist.Pie('#last-period-pie-chart', {
            labels: categoriesNames,
            series: lastPeriodPieChartSeries
        }, pieChartOptions, pieChartResponsiveOptions);

        // this year pie chart
        Chartist.Pie('#this-period-pie-chart', {
            labels: categoriesNames,
            series: thisPeriodPieChartSeries
        }, pieChartOptions, pieChartResponsiveOptions);

    </script>
{% endblock %}
