{% extends "spendtrackapp/summarize_base.html" %}

{% block top_time_period_nav %}
{% endblock %}
{% block bottom_time_period_nav %}
{% endblock %}

{% block total %}
    <div class="twelve columns" style="color: #183f62">
        TOTAL: {{ total }}
    </div>
{% endblock %}

{% block first_chart %}
    <div class="row">
        <div class="twelve columns">
            <div class="chart chart-line" id="line-chart"></div>
        </div>
    </div>
{% endblock %}

{% block second_chart %}
    <div class="row">
        <div class="twelve columns">
        <div class="chart chart-pie" id="pie-chart"></div>
        </div>
    </div>
{% endblock %}

{% block chart_data %}
    <script>
        let startDate = '{{ start_date }}';
        let endDate = '{{ end_date }}';
        let lineChartSeries = {{ sub_period_total | safe }};
        let pieChartSeries = {{ category_total }};
        let categoriesNames = {{ categories_names | safe }};
        let isLeaf = {{ is_leaf | safe }};
        renderCharts();
    </script>
{% endblock %}

{% block chart_render %}
    <script>
        // little adjust to lineChartOptions
        let numberOfLabels = 5;
        lineChartOptions.axisX.labelInterpolationFnc = function (value, index) {
            if (index % Math.ceil(lineChartSeries.length / numberOfLabels) === 0)
                return value;
            return null;
        };

        // sum for line chart
        let lineChartData = [lineChartSeries[0]];
        let startDateMillisecond = Date.parse(startDate);
        let daterangeLength = (Date.parse(endDate) - startDateMillisecond) / 86400000;
        let labels = [startDate];
        for (let i = 1; i < daterangeLength; i++) {
            lineChartData[i] = lineChartData[i - 1] + lineChartSeries[i];
            let day = new Date(startDateMillisecond + i * 86400000);
            labels[i] = [day.getFullYear(), day.getMonth() + 1, day.getDate()].join('-')
        }

        // line chart
        Chartist.Line('#line-chart', {
            labels: labels,
            series: [lineChartData]
        }, lineChartOptions, lineChartResponsiveOptions);

        // filter out non-leaf categories
        let pieChartData = [];
        for (let i = 0; i < categoriesNames.length; i++) {
            if (isLeaf[i])
                pieChartData.push(pieChartSeries[i]);
        }

        // last month pie chart
        Chartist.Pie('#pie-chart', {
            labels: categoriesNames,
            series: pieChartData
        }, pieChartOptions, pieChartResponsiveOptions);
    </script>
{% endblock %}