.chart {
    margin: 50px 0;
}

.chart-bar .ct-series-a .ct-bar {
    stroke: #19739f;
    stroke-width: 20px;
}

.chart-bar .ct-series-b .ct-bar {
    stroke: #183f62;
    stroke-width: 20px;
}

.chart-bar .ct-label {
    color: #555555;
    font-size: medium;
    text-transform: capitalize;
}

.chart-pie .ct-slice-pie {
    stroke: white;
    stroke-width: 1px;
}

.chart-pie .ct-series-a .ct-slice-pie {
    fill: #640183;
}

.chart-pie .ct-series-b .ct-slice-pie {
    fill: #480183;
}

.chart-pie .ct-series-c .ct-slice-pie {
    fill: #2f0083;
}

.chart-pie .ct-series-d .ct-slice-pie {
    fill: #22029f;
}

.chart-pie .ct-series-e .ct-slice-pie {
    fill: #261fba;
}

.chart-pie .ct-series-f .ct-slice-pie {
    fill: #4c46ca;
}

.chart-pie .ct-series-g .ct-slice-pie {
    fill: #7f76db;
}

.chart-pie .ct-series-h .ct-slice-pie {
    fill: #0545db;
}

.chart-pie .ct-series-i .ct-slice-pie {
    fill: #138cdb;
}

.chart-pie .ct-series-j .ct-slice-pie {
    fill: #119aab;
}

.chart-pie .ct-series-k .ct-slice-pie {
    fill: #17d0e7;
}

.chart-pie .ct-series-l .ct-slice-pie {
    fill: #a3e0e2;
}

.chart-pie .ct-series-m .ct-slice-pie {
    fill: #00e2a6;
}

.chart-pie .ct-series-n .ct-slice-pie {
    fill: #00A36C;
}

.chart-pie .ct-series-o .ct-slice-pie {
    fill: #05e275;
}

.chart-pie .ct-series-p .ct-slice-pie {
    fill: #06e24b;
}

.chart-pie .ct-series-q .ct-slice-pie {
    fill: #0be21f;
}

.chart-pie .ct-series-r .ct-slice-pie {
    fill: #0a9212;
}

.chart-pie .ct-series-s .ct-slice-pie {
    fill: #044809;
}

.chart-pie .ct-series-t .ct-slice-pie {
    fill: #7ee916;
}

.chart-pie .ct-series-u .ct-slice-pie {
    fill: #9fe965;
}

.chart-pie .ct-series-v .ct-slice-pie {
    fill: #b6e913;
}

.chart-pie .ct-series-w .ct-slice-pie {
    fill: #e6e903;
}

.chart-pie .ct-series-x .ct-slice-pie {
    fill: #e9b803;
}

.chart-pie .ct-series-y .ct-slice-pie {
    fill: #e96501;
}

.chart-pie .ct-series-z .ct-slice-pie {
    fill: #e9062d;
}

.chart-pie .ct-label {
    fill: #555555;
    font-size: medium;
}

.chart-line .ct-series-a .ct-line {
    stroke: #19739f;
    stroke-width: 4px;
}

.chart-line .ct-series-b .ct-line {
    stroke: #183f62;
    stroke-width: 4px;
}

.chart-line .ct-series-a .ct-point {
    stroke: #19739f;
}

.chart-line .ct-series-b .ct-point {
    stroke: #183f62;
}

.chart-line .ct-series-a .ct-area {
    fill: #28b8ff;
}

.chart-line .ct-series-b .ct-area {
    fill: #112c44;
}

.chart-line .ct-label {
    font-size: medium;
}
