{% extends "spendtrackapp/email/base.html" %}

{% block body %}
    <tr>
        <td>
            <br>
            <p>Hello {{ user.username }},</p>
            <p>It's seems that you have forgotten your password for SpendTrackApp.</p>
            <p>If this is true, please click the below button to reset it</p>
            <table role="presentation" border="0" cellpadding="0" cellspacing="0"
                   class="btn btn-primary">
                <tbody>
                <tr>
                    <td align="left">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td><a href="{{ protocol }}://
                                        {{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}"
                                       target="_blank">RESET PASSWORD</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>If you didn't forget your password, you can safely ignore this email.</p>
        </td>
    </tr>
{% endblock %}
